@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Ensure there's no margin or padding on the body and html */
body, html {
  margin: 0;
  padding: 0;
}

footer {
  margin-top: 0; /* Ensure no extra space after the last section */
}

